
a {
    text-decoration: none;
}

#wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 5%;
}

#logo {
    text-align: center;
    margin: 0;
}

h1 {
    font-family: 'Kaushan Script', sans-serif;
    margin: 15px 0;
    font-size: 2em;
}

a {
   color: #f1dfdb; 
}
header {
    background-color: #f1dfdb;
    border-color:#a32c42;
}

h1,h2 {
    color:#a32c42;
}
nav {
    background: #a32c42;
}

nav a, nav a:visited {
    color: white;
}

nava a.selected, nav a:hover {
    color: red;
}


body {
    background-color: white;
    color: #999;
}