
a {
    text-decoration: none;
}

#wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 5%;
}

#logo {
    text-align: center;
    margin: 0;
}

a {
   color: #f1dfdb; 
}
header {
    background-color: #f1dfdb;
    border-color:#a32c42;
}

h1,h2 {
    color:#a32c42;
}
nav {
    background: #a32c42;
}

nav a, nav a:visited {
    color: white;
}