
a {
    text-decoration: none;
}

#wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 5%;
}

#logo {
    text-align: center;
    margin: 0;
}

h1 {
    font-family: 'Kaushan Script', sans-serif;
    margin: 15px 0;
    font-size: 2em;
    font-weight: normal;
    line-height: 2.2em;
}

/*h2 {*/
/*    font-family: 'Kaushan Script'; sans-serif;*/
/*    margin: 15px 0;*/
    /*font-size: 1.2em;*/
    /*font-weight: normal;*/
    /*line-height: 1.2em;*/
/*}*/

a {
   color: #f1dfdb; 
}

header {
    /*background-color: #f1dfdb;*/
    background-color: #da7674;
    /*border-color:#a32c42;*/
    border-color: #da7674;
}

h1,h2 {
    color:#590010;
}
nav {
    background: #a32c42;
}

nav a, nav a:visited {
    /*color: #2ca38d;*/
    color: DA7674;
}

nav a.selected, nav a:hover {
    color: #FCF3F9;         /*    #721F2E;  */
}


body {
    background-color: white;
    color: #999;
}